{% extends 'blog/base.html' %}
{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="main_box3">
        {{ next2 }}：{{ next }}月の予定
    </div>
</div>


<div class="month_console">
    <div class="month_controller">
        {% if foo1 == 'family' %}
        <a href="{% url 'schedule:create' %}" >+ Add New</a>
        {% endif %}
    </div>
    <div class="month_controller">
        <!--10の位置が変数-->
        <a href="{% url 'schedule:next' 10 %}">Next10</a>
        <!--context["next"]-->
        <a href="{% url 'schedule:next' next %}">Next</a>
    </div>
</div>



<table class="table table-striped">


{% for item in calendar %}
    {% if item.0 != 0 %}
        <tr>
        <td>
        <nobr>

        <!-- 曜日を記載変換 -->
        {% if item.1 == 0 %}
            <div class="weak_1">Mon</div>
            <div class="mid_1"><br>{{item.0}}</div>
        {% elif item.1 == 1 %}
            <div class="weak_1">Tue</div>
            <div class="mid_1"><br>{{item.0}}</div>
        {% elif item.1 == 2 %}
            <div class="weak_1">Wed</div>
            <div class="mid_1"><br>{{item.0}}</div>
        {% elif item.1 == 3 %}
            <div class="weak_1">Thu</div>
            <div class="mid_1"><br>{{item.0}}</div>
        {% elif item.1 == 4 %}
            <div class="weak_1">Fri</div>
            <div class="mid_1"><br>{{item.0}}</div>
        {% elif item.1 == 5 %}
            <div class="weak_2">Sat</div>
            <div class="mid_2"><br>{{item.0}}</div>
        {% elif item.1 == 6 %}
            <div class="weak_3">Sun</div>
            <div class="mid_3"><br>{{item.0}}</div>
        {% endif %}
        </nobr>
        </td>
        <td>

        {% for new_week in week %}
            {% if new_week.date.day == item.0 %}
                {% if new_week.show_flag == '1' %}
                    <div class="schedule_box_1_b">
                {% else %}
                    <div class="schedule_box_1_a">
                {% endif %}
                <div class="schedule_box_2">
                    <a href="{% url 'schedule:update' new_week.pk %}">タイトル：{{ new_week.title }}</a>
                </div>
                <div class="schedule_box_3">
                    {{ new_week.text }}
                </div>

                <div class="schedule_box_4">

                    <div class="schedule_box_5">

                        {% if new_week.reservation_flag == '1' %}
                            <div class="big_1">要予約</div>
                        {% else %}
                            <div class="big_2">予約済</div>
                        {% endif %}
                    </div>

                    <div class="schedule_box_6">
                        {{ new_week.start_time }}〜{{ new_week.end_time }}
                    </div>

                <br>

                </div>

            {% endif %}
        {% endfor %}
        </td>
        </tr>

    {% endif %}
{% endfor %}

</table>

<br>

<div class="now_box">
{{ now.year }}年
{{ now.month }}月
{{ now.day }}日
{{ now.hour }}時
{{ now.minute }}分
{{ now.second }}秒
</div>

<br><br>

<footer>

    <div class="month_console">
        <div class="month_controller">
            {% if foo1 == 'family' %}
            <a href="{% url 'schedule:create' %}" >+ Add New</a>
            {% endif %}
        </div>
        <div class="month_controller">
            <a href="{% url 'schedule:next' next %}">Next</a>
        </div>
    </div>

    <div  class="user_box">
        <p>ユーザー属性：{{ foo1 }} </p>
    </div>
    <div class="copyright"> Copyright © Alpacca System All Rights Reserved.</div>

</footer>

{% endblock %}
