{% extends "register/base.html" %}
{% block content %}

<script type="text/javascript" language="javascript">
    var login_flag =  {{ foo }};
    window.onload = function() {
        document.getElementById("incomplete").style.display="none";
        if(login_flag == 0){
            document.getElementById("incomplete").style.display="block";
        } else {
            document.getElementById("completion").style.display="block";
        }
    }
    function onButtonClick1() {
        if(login_flag == 0){
            document.getElementById("incomplete").style.display="block";
        } else {
            document.getElementById("completion").style.display="block";
        }
    }
</script>

<div class="container">



        <div  class="gt_box1">
            {% if foo1 == 'family' %}
            <!--<div id="incomplete" style="display:none">-->
                <a class="btn-circle-stitch" href="/challenge" role="button">Ten thousand challenge</a>
                <br>
                <br>
            <!--</div>-->
            <div id="completion" style="display:none">
                <a class="btn-circle-stitch" href="/challenge" role="button">Ten thousand challenge</a>
            </div>
            {% endif %}
            <!--
            <a class="btn btn-info btn-lg btn-block" href="https://grooow.net/" role="button">ブログ</a>
            -->
            <a class="btn-circle-stitch" href="/schedule" role="button">Schedule</a>
        </div>


<br />



<br />
<br />

</div>

<footer>

    <div  class="user_box">
        <p>こんにちわ {{ foo_user }}さん</p>
        <div style="text-align:center; font-size:80%; ">グループ：{{ foo1 }}</div>

    </div>
    <div class="copyright"> Copyright © Alpacca System All Rights Reserved.</div>

</footer>

{% endblock %}
