{% extends "register/base.html" %}
{% block content %}

<div class="row o-3column">
<div class="col-md-12">
<div  class="main_box3">
    <div class="regi_txt">
        ユーザーネーム：{{ user.username }}
    </div>
    <div class="regi_txt">
        氏名：{{ user.first_name }}　{{ user.last_name }}
    </div>
    <div class="regi_txt">
        {% if user.username != user.email %}
            メールアドレス：{{ user.email }}
        {% endif %}
    </div>

</div>
</div>
</div>

<div  class="main_box2">
    　
</div>

{% endblock %}
