{% extends 'chance/base.html' %}

{% block content %}
<!--フォームコントロール-->
{% load widget_tweaks %}

<script type="text/javascript" language="javascript">

    window.onload = function() {
        document.getElementById("id_service_off").style.display ="none";
        document.getElementById("id_second_off").style.display ="none";
        document.getElementById("id_receive_off").style.display ="none";
        document.getElementById("id_stroke_off").style.display ="none";
        document.getElementById("id_net_off").style.display ="none";
        document.getElementById("id_game_id").style.display ="none";
        document.getElementById("id_created_date").style.display ="none";
    }

    function add_stroke() {
         target = document.getElementById("id_stroke");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_stroke() {
         target = document.getElementById("id_stroke");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_stroke_error() {
         target = document.getElementById("id_stroke_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_stroke_error() {
         target = document.getElementById("id_stroke_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function add_service() {
         target = document.getElementById("id_service");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_service() {
         target = document.getElementById("id_service");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_service_error() {
         target = document.getElementById("id_service_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_service_error() {
         target = document.getElementById("id_service_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function add_second() {
         target = document.getElementById("id_second");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_second() {
         target = document.getElementById("id_second");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_second_error() {
         target = document.getElementById("id_second_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_second_error() {
         target = document.getElementById("id_second_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function add_receive() {
         target = document.getElementById("id_receive");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_receive() {
         target = document.getElementById("id_receive");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_receive_error() {
         target = document.getElementById("id_receive_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_receive_error() {
         target = document.getElementById("id_receive_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function add_net() {
         target = document.getElementById("id_net");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_net() {
         target = document.getElementById("id_net");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_net_error() {
         target = document.getElementById("id_net_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_net_error() {
         target = document.getElementById("id_net_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function service_off() {
         document.getElementById("id_service_on").style.display ="none";
         document.getElementById("id_service_off").style.display ="block";
    }
    function service_on() {
         document.getElementById("id_service_on").style.display ="block";
         document.getElementById("id_service_off").style.display ="none";
    }

    function second_off() {
         document.getElementById("id_second_on").style.display ="none";
         document.getElementById("id_second_off").style.display ="block";
    }
    function second_on() {
         document.getElementById("id_second_on").style.display ="block";
         document.getElementById("id_second_off").style.display ="none";
    }

    function receive_off() {
         document.getElementById("id_receive_on").style.display ="none";
         document.getElementById("id_receive_off").style.display ="block";
    }
    function receive_on() {
         document.getElementById("id_receive_on").style.display ="block";
         document.getElementById("id_receive_off").style.display ="none";
    }

    function stroke_off() {
         document.getElementById("id_stroke_on").style.display ="none";
         document.getElementById("id_stroke_off").style.display ="block";
    }
    function stroke_on() {
         document.getElementById("id_stroke_on").style.display ="block";
         document.getElementById("id_stroke_off").style.display ="none";
    }

    function net_off() {
         document.getElementById("id_net_on").style.display ="none";
         document.getElementById("id_net_off").style.display ="block";
    }
    function net_on() {
         document.getElementById("id_net_on").style.display ="block";
         document.getElementById("id_net_off").style.display ="none";
    }


</script>


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="main_box">
        <div class="weak_5">
            {{ created_date }}
        </div>
        {{ player }}：{{ game_count1 }} - {{ opponent }}：{{ game_count2 }}

    </div>

    <form class="form_box" method="POST" class="post-form">{% csrf_token %}

    <div class="mid_box" id="id_service_on">
        <div class="inline-block00">
            <input class="form_c_04" type="button" value="1stサービス" onclick="service_off();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_service();" />
        </div>
        <div class="inline-block01">
            {{ form.service|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_service();" />
        </div>
    </div>
    <div class="mid_box" id="id_service_off">
        <div class="inline-block00">
            <input class="form_c_05" type="button" value="フォルト" onclick="service_on();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_service_error();" />
        </div>
        <div class="inline-block01">
            {{ form.service_error|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_service_error();" />
        </div>
    </div>

    <div class="mid_box" id="id_second_on">
        <div class="inline-block00">
            <input class="form_c_04" type="button" value="2ndサービス" onclick="second_off();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_second();" />
        </div>
        <div class="inline-block01">
            {{ form.second|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_second();" />
        </div>
    </div>
    <div class="mid_box" id="id_second_off">
        <div class="inline-block00">
            <input class="form_c_05" type="button" value="フォルト" onclick="second_on();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_second_error();" />
        </div>
        <div class="inline-block01">
            {{ form.second_error|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_second_error();" />
        </div>
    </div>

    <div class="mid_box" id="id_receive_on">
        <div class="inline-block00">
            <input class="form_c_04" type="button" value="リターン" onclick="receive_off();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_receive();" />
        </div>
        <div class="inline-block01">
            {{ form.receive|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_receive();" />
        </div>
    </div>
    <div class="mid_box" id="id_receive_off">
        <div class="inline-block00">
            <input class="form_c_05" type="button" value="リターンミス" onclick="receive_on();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_receive_error();" />
        </div>
        <div class="inline-block01">
            {{ form.receive_error|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_receive_error();" />
        </div>
    </div>
    <div class="mid_box" id="id_stroke_on">
        <div class="inline-block00">
            <input class="form_c_04" type="button" value="ストローク" onclick="stroke_off();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_stroke();" />
        </div>
        <div class="inline-block01">
            {{ form.stroke|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_stroke();" />
        </div>
    </div>
    <div class="mid_box" id="id_stroke_off">
        <div class="inline-block00">
            <input class="form_c_05" type="button" value="ストロークミス" onclick="stroke_on();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_stroke_error();" />
        </div>
        <div class="inline-block01">
            {{ form.stroke_error|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_stroke_error();" />
        </div>
    </div>
    <div class="mid_box" id="id_net_on">
        <div class="inline-block00">
            <input class="form_c_04" type="button" value="ネットプレー" onclick="net_off();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_net();" />
        </div>
        <div class="inline-block01">
            {{ form.net|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_net();" />
        </div>
    </div>
    <div class="mid_box" id="id_net_off">
        <div class="inline-block00">
            <input class="form_c_05" type="button" value="ネットミス" onclick="net_on();" />
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="+" onclick="add_net_error();" />
        </div>
        <div class="inline-block01">
            {{ form.net_error|add_class:'form_c_02' }}
        </div>
        <div class="inline-block01">
            <input class="form_c_03" type="button" value="-" onclick="take_net_error();" />
        </div>
    </div>
    {{ form.game_id|add_class:'form_c_01' }}
    {{ form.games|add_class:'form_c_01' }}
    {{ form.created_date|add_class:'form_c_01' }}

    <div class="mid_box">
        <div class="b_box">
        <button type="submit" class="form_b_01">Save</button>
        </div>
    </div>

    </form>

    <div class="mid_box">
        1stサービス成功率：{{ probability_service|floatformat }}%<br>
        2ndサービス成功率：{{ probability_second|floatformat }}%<br>
        リターン成功率：{{ probability_receive|floatformat }}%<br>
        ストローク成功率：{{ probability_stroke|floatformat }}%<br>
        ネットプレー成功率：{{ probability_net|floatformat }}%<br>
        <div class="b_box">
            <a href="{% url 'chance:chance' %}" ><button type="submit" class="form_b_01">Finish</button></a>
        </div>
    </div>

</div>


<footer>
    <div  class="user_box">

        <div style="text-align:center; font-size:80%; ">
            <div class="weak_5">
             　　
            </div>
        </div>
    </div>
    <div class="copyright"> Copyright © Alpacca System All Rights Reserved.</div>
</footer>


{% endblock %}
