{% extends 'chance/base.html' %}

{% block content %}

<script type="text/javascript" language="javascript">

    window.onload = function() {

    }

    function add_stroke() {
         target = document.getElementById("id_stroke");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_stroke() {
         target = document.getElementById("id_stroke");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_stroke_error() {
         target = document.getElementById("id_stroke_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_stroke_error() {
         target = document.getElementById("id_stroke_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function add_service() {
         target = document.getElementById("id_service");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_service() {
         target = document.getElementById("id_service");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_service_error() {
         target = document.getElementById("id_service_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_service_error() {
         target = document.getElementById("id_service_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function add_receive() {
         target = document.getElementById("id_receive");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_receive() {
         target = document.getElementById("id_receive");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_receive_error() {
         target = document.getElementById("id_receive_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_receive_error() {
         target = document.getElementById("id_receive_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }

    function add_net() {
         target = document.getElementById("id_net");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_net() {
         target = document.getElementById("id_net");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
    function add_net_error() {
         target = document.getElementById("id_net_error");
         num = parseInt(target.value) + 1;
         target.value = num;
    }
    function take_net_error() {
         target = document.getElementById("id_net_error");
         num = parseInt(target.value) - 1;
         target.value = num;
    }
</script>


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="main_box">
        Match Detail
    </div>

    <div class="mid_box">

    {{ player }} VS {{ opponent }}
    {{ created_date }}
    <hr>
    {{ game_count1 }} - {{ game_count2 }}

    <hr>
    サービス成功率：{{ probability_service|floatformat }}%<br>
    リターン成功率：{{ probability_receive|floatformat }}%<br>
    ストローク成功率：{{ probability_stroke|floatformat }}%<br>
    ネットプレー成功率：{{ probability_net|floatformat }}%<br>
    </div>
</div>

<footer>

    <div  class="user_box">
        <div style="text-align:center; font-size:80%; "><a href="{% url 'chance:chance' %}" >BACK LIST</a></div>

    </div>
    <div class="copyright"> Copyright © Alpacca System All Rights Reserved.</div>

</footer>


{% endblock %}
